<div class="text-layout">
    <h1>Decimal Pipe and Porcentage</h1>
    <p>
        Pipes included in Angular - Usually we can find them in Common Module
    </p>
</div>

<div class="p-grid">

    <div class="p-col-4">
        <p-card header="Ventas Netas"
                subheader="del presente anio">
            <i class="pi pi-dollar"></i>
            {{ ventasNetas | number:'1.2-2' }}
        </p-card>
    </div>

    <div class="p-col-4">
        <p-card header="Ventas Brutas"
                subheader="del presente anio">
            {{ ventasNetas + 2000000 | currency:'CAD':'symbol-narrow':'1.4-4' }}
        </p-card>
    </div>

    <div class="p-col-4">
        <p-card header="Margen Ganancia"
                subheader="del presente anio">
            {{ porcentaje | percent:'2.2-2' }}
        </p-card>
    </div>
</div>