
<app-menu></app-menu>

<router-outlet></router-outlet>



<!-- 
<div class="text-layout">

  <h1> {{ name | titlecase }} </h1>
  <h2>{{ valor | number }} </h2>
  <h3>{{ obj | json }}</h3>

  <hr>

  <p-card header="{{ name | titlecase }}"
        subheader="This is a subheader">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores provident eos enim eius incidunt. Adipisci optio impedit, cupiditate doloremque itaque doloribus expedita voluptate necessitatibus atque, cumque, veniam fugiat at. A.
  </p-card>

</div>
<hr>
<button pButton 
      icon="pi pi-bell" 
      iconPos="right"
      class="p-button-help"
      (click)="showName()" 
      label="Change name">
</button> -->
